:root {
	--field-color: var(--color-gray-light);
	--field-border-color: var(--color-gray-light);
}

::placeholder {
    color: var(--color-gray);
}

.field {
    position: relative;
    display: flex;
    flex-direction: column;
}
.field:hover {
	--field-color: #eaeaea;
	--field-border-color: #eaeaea;
}
.field:focus-within {
	--field-border-color: var(--color-blue);
}
// .field_valid,
// .field_valid:focus-within {
// 	--field-border-color: #{getRGB($field-color-valid)};
// }
// .field_invalid,
// .field_invalid:focus-within {
// 	--field-border-color: #{getRGB($field-color-invalid)};
// }
//
.field__title {
    order: -1;
    margin-bottom: var(--margin-global);
    padding: 0 2px;
    color: var(--color-black);
	font-weight: 400;
    transition: color 250ms;
}

.field__helper {
	position: relative;
    margin: 0;
    padding: var(--margin-global) 2px;
    color: var(--color-gray);
    font-size: var(--font-size-small);
    line-height: 1;
    transition: opacity 250ms, transform 250ms;
}
//
// .field__error {
// 	position: absolute;
// 	left: 0;
// 	top: 0;
//     padding: var(--margin-global) calc(var(--margin-global) / 2);
//     color: $field-color-invalid;
//     background-color: color(white);
//     font-size: font-size(small);
//     opacity: 0;
// 	transform-origin: 0 100%;
// 	transform: translateY(calc(var(--margin-global) * -3)) scale(.8);
// 	transition: transform 250ms, opacity 250ms;
//
//     .field_invalid & {
//         opacity: 1;
// 		transform: translateY(0) scale(1);
//     }
// }

@import "inputs";
// @import "selects";
// @import "files";
