.field__input {
	position: relative;
	z-index: 2;
    width: 100%;
    padding: calc(var(--margin-global) * 3);
    background-color: var(--field-color);
	border: 2px solid var(--field-border-color);
    border-radius: 2px;
    line-height: 1;
    transition: background-color 250ms, border-color 250ms;

    &:invalid {
        box-shadow: none;
    }
}

// .field__input_type_email {
//     background-image: url(../img/ico/baseline-alternate_email-24px.svg);
// }
// .field__input_type_tel {
//     background-image: url(../img/ico/baseline-local_phone-24px.svg);
// }
// .field__input_type_url {
//     background-image: url(../img/ico/baseline-link-24px.svg);
// }
// .field__input_type_date {
//     background-image: url(../img/ico/baseline-calendar_today-24px.svg);
// }
