.field__input {
	position: relative;
	z-index: 2;
    width: 100%;
    padding: calc(var(--margin-global) * 3) calc(var(--margin-global) * 4);
    background-color: var(--field-color);
	border: none;
    border-radius: 40px;
    line-height: 1;
    transition: background-color 250ms, box-shadow 250ms;

    &:hover {
		transform: scale(1.07);
    }
    &:focus {
		border-color: rgba(var(--field-border-color), 1);
		box-shadow: shadow(1-lvl, rgba(var(--field-border-color), .75));


    }
	    &:invalid:not(:hover):not(:focus) {
	        box-shadow: none;
	    }
}

// .field__input_type_email {
//     background-image: url(../img/ico/baseline-alternate_email-24px.svg);
// }
// .field__input_type_tel {
//     background-image: url(../img/ico/baseline-local_phone-24px.svg);
// }
// .field__input_type_url {
//     background-image: url(../img/ico/baseline-link-24px.svg);
// }
// .field__input_type_date {
//     background-image: url(../img/ico/baseline-calendar_today-24px.svg);
// }
