<!DOCTYPE html>
<html lang="en">
<head>
    {% include "blocks/head/common.njk" %}
</head>

<body>
    <div class="page-layout">
        <aside class="page-layout__aside aside">
            <div class="aside__header header">
                <a href="/" class="logo">f–d</a>
            </div>

            {% include "blocks/menu.njk" %}
        </aside>

        <main class="page-layout__main main">
            <div class="main__header header">
                <a href="/" class="name">Artur Trifonov portfolio</a>
            </div>
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <script src="/static/js/app.js"></script>
</body>
</html>
