.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: var(--font-family-header);
}

.menu__item {
    position: relative;
}

.menu__link {
    display: block;
    padding: var(--margin-global) var(--gap-global);
    color: var(--color-white);
    text-transform: lowercase;
    transition: background-color 250ms;
}

.menu__link::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform-origin: 0 50%;
    transform: translateY(-50%) scaleX(0.5);
    display: block;
    width: calc(var(--gap-global) / 2);
    height: 2px;
    background-color: var(--color-white);
    opacity: .5;
    transition: transform 250ms;
}

.menu__link:hover {
    color: var(--color-white);
}
.menu__link:hover::before {
    transform: translateY(-50%) scaleX(1);
}
.menu__item_active .menu__link::before {
    opacity: 1;
    transform: translateY(-50%) scaleX(1);
}

.menu__link:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--color-blue-light);
    outline-offset: -2px;
}
