.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__item {
    position: relative;
}

.menu__link {
    display: block;
    padding: 8px 32px;
    color: var(--color-white);
    text-transform: lowercase;
    transition: background-color 250ms;
}

.menu__link::before,
.menu__link::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform-origin: 0 50%;
    transform: translateY(-50%) scaleX(.5);
    display: block;
    width: 16px;
    height: 2px;
    background-color: var(--color-white);
    opacity: .5;
    transition: transform 250ms;
}
.menu__link::after {
	left: auto;
	right: 0;
	transform-origin: 100% 50%;
}

.menu__link:hover {
    color: var(--color-white);
}
.menu__link:hover::before,
.menu__link:hover::after {
    transform: translateY(-50%) scaleX(1);
}
.menu__item_active .menu__link::before {
    opacity: 1;
    transform: translateY(-50%) scaleX(1);
}

.menu__link:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--color-blue-light);
    outline-offset: -2px;
}
