.social {
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
    margin: 0;
    padding: 0;

    list-style: none;

    font-size: 18px;
    text-transform: lowercase;
}

.social_header {
    justify-content: center;
    font-weight: 600;
}

.social__item {
	margin: 0 8px 8px;

    // &:not(:last-child) {
    //     margin-right: 16px;
    // }
}
.social__link {
    position: relative;
    color: $color-primary;
    border-bottom: 2px solid $color-primary;
    transition: color 200ms, border-color 200ms;

    &::before {
        content: '';
        position: absolute;
        top: -6px;
        right: -6px;
        bottom: -6px;
        left: -6px;
    }

	&:hover {
    	color: $color-secondary;
	}

	.social_light & {
		color: var(--color-white);
		border-color: var(--color-white);

		&:hover {
    		color: $color-secondary;
			border-color: $color-secondary;
			--color-secondary-lightness: 80%;
		}
	}
}
.social__link:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--color-blue-light);
    outline-offset: 8px;
}
