:root {
    --page-layout-aside-width: 3rem;

    @media screen and (min-width: 50rem) {
        --page-layout-aside-width: 16rem;
    }
    @media screen and (min-width: 75rem) {
        --page-layout-aside-width: 20rem;
    }
}

.page-layout {
    display: flex;
    flex-wrap: nowrap;
    // height: 100vh;
}

.page-layout__aside {
    flex: var(--page-layout-aside-width) 0 0;
    max-width: var(--page-layout-aside-width);
}

.page-layout__main {
    flex-grow: 2;
    // padding: 0 var(--gap-global);
}
