:root {
    --page-layout-aside-width: 220px;

    @media screen and (min-width: $breakpoint-medium) {
        --page-layout-aside-width: 280px;
    }
    @media screen and (min-width: $breakpoint-large) {
        --page-layout-aside-width: 320px;
    }
}

.page-layout {
    display: flex;
    flex-wrap: nowrap;
}

.page-layout__aside {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: var(--page-layout-aside-width);
    height: 100vh;
}

.page-layout__main {
    flex-grow: 2;
    padding-right: var(--page-layout-aside-width);
}
