:root {
    --page-layout-aside-width: 220px;

    @media screen and (min-width: $breakpoint-medium) {
        --page-layout-aside-width: 280px;
    }
    @media screen and (min-width: $breakpoint-large) {
        --page-layout-aside-width: 320px;
    }
}

.page-layout {
    display: flex;
    flex-wrap: nowrap;
}

.page-layout__aside {
    flex: var(--page-layout-aside-width) 0 0;
    max-width: var(--page-layout-aside-width);
}

.page-layout__main {
    flex-grow: 2;
}
