.promo {
    --photo-width: 350px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;

    &::before {
        content: '';
        flex-basis: 100%;
    }
}

.promo__photo {
    flex-shrink: 0;
    flex-basis: var(--photo-width);

    img {
        max-width: 100%;
    }
}

.promo__text {
    flex-basis: 0px;
    flex-grow: 1;
    max-width: 800px;
    margin: 0 calc(var(--gap-global) * 2);
}

.promo__title {
    font-size: 44px;
    font-weight: 500;
    margin-bottom: var(--gap-global);
}

.promo__button {
    flex-basis: 100%;
    margin-bottom: var(--gap-global);
    padding: 0 var(--gap-global);
}
