.promo {
    --photo-width: 220px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
	justify-content: center;

    &::before {
        content: '';
        flex-basis: 100%;
    }

    @media screen and (min-width: $breakpoint-medium) {
	    --photo-width: 350px;
    	align-content: space-between;
	}
}

.promo__photo {
    flex-shrink: 0;
    flex-basis: var(--photo-width);

    img {
        max-width: 100%;
    }
}

.promo__text {
    flex-basis: 0px;
    flex-grow: 1;
    max-width: 800px;

    @media screen and (min-width: $breakpoint-medium) {
	    margin: 0 64px;
	}
}

.promo__title {
    margin-bottom: 32px;

    font-size: 24px;
    font-weight: 500;
	text-align: center;

    @media screen and (min-width: $breakpoint-medium) {
	    font-size: 44px;
	}
}

.promo__button {
	display: none;
    flex-basis: 100%;
    margin-bottom: 32px;
    padding: 0 32px;
}
