h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    line-height: inherit;
}
h2 {
    font-size: rem-calc(36);
    font-weight: 700;
}
h3 {
    font-size: rem-calc(36);
}
h4 {
    font-size: rem-calc(24);
}
h5 {
    font-size: rem-calc(18);
}
h6 {
    font-size: rem-calc(18);
}
