{% set lang = 'en' %}
{% set title = 'Artur Trifonov: frontend developer' %}
{% set description = 'Artur Trifonov portfolio site: about, works and contacts' %}
{% set keywords = 'frontend developer, Artur Trifonov, frontend, design' %}

{% set activePage = 'works' %}

{% extends '../layouts/index.njk' %}

{% block content %}
    <section class="main__section main__section_promo promo">
        <div class="promo__photo">
            <picture>
                <source srcset="/static/img/i.webp 1x,
                                /static/img/i@2x.webp 2x"
                        type="image/webp" />
                <img src="/static/img/i.jpg"
                     srcset="/static/img/i@2x.jpg 2x"
                     alt="Фото Артура Трифонова" />
            </picture>
        </div>

        <div class="promo__text">
            <h1 class="visually-hidden">Artur Trifonov's web developer portfolio</h1>
            <p class="promo__title">I develop sites: adaptive, bem, vanilla js and a11y.</p>

            <h2 class="visually-hidden">Social network links</h2>
            <ul class="promo__links">
                <li class="promo__links-item">
                    <a class="promo__link" href="https://github.com/wrgraff">GitHub</a>
                </li>
                <li class="promo__links-item">
                    <a class="promo__link" href="https://linkedin.com/in/arturtrifonov">LinkedIn</a>
                </li>
                <li class="promo__links-item">
                    <a class="promo__link" href="https://www.facebook.com/wrgraff">Facebook</a>
                </li>
                <li class="promo__links-item">
                    <a class="promo__link" href="https://twitter.com/a_sassafras">Twitter</a>
                </li>
                <li class="promo__links-item">
                    <a class="promo__link" href="https://htmlacademy.ru/profile/wrgraff">HTML Academy</a>
                </li>
            </ul>
        </div>

        <div class="promo__button">
            <a class="button" href="#portfolio">
                <img src="/static/img/ico/arrow_down.svg" alt="Перейти ниже" aria-hidden="true"> My works
            </a>
        </div>
    </section>

    <section class="main__section">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
{% endblock %}
