{% set lang = 'en' %}
{% set title = 'Artur Trifonov: frontend developer' %}
{% set description = 'Artur Trifonov portfolio site: about, works and contacts' %}
{% set keywords = 'frontend developer, Artur Trifonov, frontend, design' %}

{% set activePage = 'contact-me' %}

{% extends '../layouts/index.njk' %}

{% block content %}
    <section class="main__section">
        <h1 class="main__heading">Contact me</h1>

        <form class="form" action="contact-me/result/" method="post">
            
        </form>
    </section>
{% endblock %}
