.section {
    display: flex;
    margin: 0 ($bit * -3);
    padding: ($bit * 10) 0;

    > * {
        padding: 0 ($bit * 3);
    }
}
.section-header {
    flex-shrink: 0;
    flex-basis: 30%;
}
.section-body {
    margin-top: $bit;
}
