.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $bit * 3;
    margin: 0;
    padding: 0;
    list-style: none;
}
.services__item {
    padding-left: $bit * 4;
    font-weight: 300;
    counter-increment: service-item;

    h5 {
        position: relative;
        margin-bottom: $bit;
        color: map-get($colors, frontend);
        font-weight: inherit;

        &:before {
            content: '0' counter(service-item);
            position: absolute;
            right: 100%;
            margin-right: $bit;
            color: map-get($colors, gray);
            font-weight: 700;
        }
    }
    p {
        color: map-get($colors, gray);
        font-size: rem-calc(16);
    }
}
