.works {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 32px;
    margin: 0;
    padding: 0;
    list-style: none;

    @media screen and (min-width: $breakpoint-medium) {
	    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
	}
}

.works__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 340px;
    padding: 32px;
    background-color: var(--color-gray-light);
    border-radius: var(--radius);

    @media screen and (min-width: $breakpoint-medium) {
		padding-right: 50%;
	}
}

.works__title {
	margin-bottom: 16px;
    // margin-bottom: 0;
    font-size: 24px;
}

.works__link {
    color: var(--color-black);

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
    }
}

.works__img {
	display: flex;
	justify-content: flex-end;
	height: 300px;
	order: -1;
	margin: -32px -32px 32px;
	overflow: hidden;

	background-color: var(--color-gray);
	border-radius: var(--border-radius) var(--border-radius) 0 0;

	img {
		display: block;
	}

    @media screen and (min-width: $breakpoint-medium) {
	    position: absolute;
	    right: 0;
		bottom: 0;
	    top: 0;

		height: auto;
		margin: 0;

		background-color: transparent;
	}
}

.works__categories {
    order: -1;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 16px;
    padding: 0;
    list-style: none;

    color: var(--color-gray);

    font-size: var(--font-size-small);
    font-weight: 400;
}
.works__category {
    margin-right: 16px;
}

.works__address {
    position: relative;
    margin-bottom: 0;
    color: var(--color-gray);
    font-size: var(--font-size-small);
}
.works__chain {
    position: absolute;
    top: 50%;
    left: -8px;
    margin-top: -4px;

    path, polygon {
        fill: transparent;
    }

    #chain_center {
        transition: fill 200ms ease;
    }
    #chain_left,
    #chain_right {
        transition: fill 200ms ease, transform 200ms ease-out 200ms;
    }
    #chain_left {
        transform: translateX(-8px);
    }
    #chain_right {
        transform: translateX(8px);
    }

    .works__item:hover & {
        path, polygon {
            fill: var(--color-gray);
        }
        #chain_center {
            transition: fill 200ms ease 100ms;
        }
        #chain_left,
        #chain_right {
            transform: translateX(0);
            transition: fill 200ms ease 100ms, transform 200ms ease-out 150ms;
        }
    }
}
.works__address-text {
    display: inline-block;
    transition: transform 200ms ease-out 100ms;

    .works__item:hover & {
        transform: translateX(28px);
        transition: transform 200ms ease-out;
    }
}
