.logo {
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--color-white);
    font-size: 1.3em;
    font-family: var(--font-family-header);
}

.logo__line {
    flex-grow: 2;
    height: .125rem;
    margin: 0 var(--gap-global);
    background-color: var(--color-white);
}
