<ul class="global-nav__menu menu menu_vertical" id="menu">
    <ul id="" class="nav navbar-nav navbar-right">
        <li {% if navActiveItem == 0 %}class="active"{% endif %}>
            <a href="index.html">Главная</a>
        </li>
        <li {% if navActiveItem == 1 %}class="active"{% endif %}>
            <a href="feedback.html">Обратная связь</a>
        </li>
    </ul>
</ul>
