.main__header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    padding: 0 var(--gap-global);
}


.main__section {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap-global);
}

.main__section_promo {
    max-width: none;
    height: 100vh;
    padding: var(--header-height) 0 0;
}
