.main__header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    padding: 0 var(--gap-global);
}

.main__section_promo {
    height: 100vh;
    padding-top: var(--header-height);
}
