:root {
    --button-padding: 1rem 2rem;
}

.button {
    display: inline-block;
    vertical-align: middle;
    padding: var(--button-padding);
    color: var(--color-white);
    background-color: var(--color-blue);
    border: none;
    border-radius: 20rem;
    font-family: var(--font-family-header);
    font-size: var(--font-size);
    text-transform: lowercase;
}

.button img {
    margin-right: var(--margin-global);
    vertical-align: middle;
}
