$icon-button-size: rem-calc(32);

.icon-button {
    position: relative;
    display: block;
    width: $icon-button-size;
    height: $icon-button-size;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
