@mixin work-gradient-black($direction: to bottom) {
    background-image: linear-gradient(
        $direction,
        rgba(map-get($colors, black), 0) 0%,
        rgba(map-get($colors, black), 0.007) 8.2%,
        rgba(map-get($colors, black), 0.028) 16%,
        rgba(map-get($colors, black), 0.06) 23.6%,
        rgba(map-get($colors, black), 0.102) 30.8%,
        rgba(map-get($colors, black), 0.151) 37.7%,
        rgba(map-get($colors, black), 0.206) 44.4%,
        rgba(map-get($colors, black), 0.265) 50.9%,
        rgba(map-get($colors, black), 0.326) 57.3%,
        rgba(map-get($colors, black), 0.388) 63.5%,
        rgba(map-get($colors, black), 0.447) 69.6%,
        rgba(map-get($colors, black), 0.502) 75.7%,
        rgba(map-get($colors, black), 0.552) 81.7%,
        rgba(map-get($colors, black), 0.595) 87.8%,
        rgba(map-get($colors, black), 0.628) 93.8%,
        rgba(map-get($colors, black), 0.65) 100%
    );
}

.works {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $bit;
    margin: 0;
    padding: $bit * 3;
    list-style: none;
}
.works__item {
    position: relative;
    background-color: map-get($colors, white);
    border-radius: $radius;
    overflow: hidden;
    transition: transform $transition-duration $transition-function,
                opacity $transition-duration $transition-function;

    img {
        max-width: 100%;
    }
}
.works__item_disabled {
    transform: scale(.9);
    opacity: .3;
}
.works__title {
    display: block;
    color: map-get($colors, white);
    text-decoration: none;
    transition: color $transition-duration $transition-function;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 50%;
        opacity: .7;
        z-index: 0;
        @include work-gradient-black(to top);
        transition: opacity 500ms $transition-function;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
    }

    .works__item:hover & {
        color: white;

        &::before {
            opacity: 1;
        }
    }
}
.works__title-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: $bit * 2;
    z-index: 1;
}
.works__title-anchor {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: rem-calc(100);
    color: white;
    opacity: 0;
    text-align: center;
    transition: opacity $transition-duration $transition-function;

    .works__item:hover & {
        opacity: 1;
    }
}
$works__title-link-size: rem-calc(80);
.works__title-link {
    position: relative;
    display: block;
    width: $works__title-link-size;
    height: $works__title-link-size;
    margin: 0 auto;
    transition: margin $transition-duration $transition-function;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(map-get($colors, black), .5);
        border-radius: 50%;
        opacity: 0;
        transform: scale(1.5);
        z-index: -1;
        transition: opacity $transition-duration $transition-function,
                    transform $transition-duration $transition-function;
    }

    .works__item:hover & {
        margin-bottom: $bit * -2;
        &::before {
            opacity: 1;
            transform: scale(1);
        }
    }
}
$works__title-link-line-size: 4px;
.works__title-link-line {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: $works__title-link-line-size * 4;
    height: $works__title-link-line-size;
    background-color: white;
    opacity: 0;
    transition: opacity $transition-duration $transition-function;

    &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        box-sizing: border-box;
        width: $works__title-link-line-size * 5;
        height: $works__title-link-line-size * 5;
        border-style: solid;
        border-color: white;
        opacity: 0;
        transition: opacity $transition-duration $transition-function,
                    left 500ms $transition-function,
                    right 500ms $transition-function;
    }
    &::before {
        left: ($works__title-link-line-size * -5) - ($works__title-link-line-size / 2);
        border-width: ($works__title-link-line-size) 0 ($works__title-link-line-size) ($works__title-link-line-size);
        border-radius: ($works__title-link-line-size * 5) 0 0 ($works__title-link-line-size * 5);
        transition-delay: 150ms;
    }
    &::after {
        right: ($works__title-link-line-size * -5) - ($works__title-link-line-size / 2);
        border-width: ($works__title-link-line-size) ($works__title-link-line-size) ($works__title-link-line-size) 0;
        border-radius: 0 ($works__title-link-line-size * 5) ($works__title-link-line-size * 5) 0;
        transition-delay: 150ms;
    }

    .works__item:hover & {
        opacity: 1;

        &::before, &::after {
            opacity: 1;
        }
        &::before {
            left: ($works__title-link-line-size * -3) - ($works__title-link-line-size / 2);
        }
        &::after {
            right: ($works__title-link-line-size * -3) - ($works__title-link-line-size / 2);
        }
    }
}
.works__img {
    position: relative;
    display: flex;
    height: rem-calc(296);
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(map-get($colors, black), .2);
        background-image: linear-gradient(
            148deg,
            rgba(map-get($colors, design), 0) 0%,
            rgba(map-get($colors, design), 0.002) 6.8%,
            rgba(map-get($colors, design), 0.007) 14.5%,
            rgba(map-get($colors, design), 0.015) 22.7%,
            rgba(map-get($colors, design), 0.026) 31.3%,
            rgba(map-get($colors, design), 0.039) 40.1%,
            rgba(map-get($colors, design), 0.053) 49%,
            rgba(map-get($colors, design), 0.069) 57.8%,
            rgba(map-get($colors, design), 0.086) 66.1%,
            rgba(map-get($colors, design), 0.104) 74%,
            rgba(map-get($colors, design), 0.121) 81.2%,
            rgba(map-get($colors, design), 0.139) 87.5%,
            rgba(map-get($colors, design), 0.156) 92.7%,
            rgba(map-get($colors, design), 0.172) 96.6%,
            rgba(map-get($colors, design), 0.187) 99.1%,
            rgba(map-get($colors, design), 0.2) 100%
        );
    }
    img {
        object-fit: cover;
        filter: grayscale(100%);
        transition: filter 500ms $transition-function,
                    background-color 500ms $transition-function;
    }

    .works__item:hover & {
        background-color: rgba(map-get($colors, black), 0);

        img {
            filter: grayscale(0);
        }
    }
}
.works__labels {
    position: absolute;
    left: 0;
    right: 0;
    bottom: $bit * -5;
    margin: 0;
    padding: ($bit * 10) ($bit * 2) ($bit * 2);
    list-style: none;
    @include work-gradient-black;
    opacity: 0;
    transition: bottom $transition-duration $transition-function,
                opacity $transition-duration $transition-function;

    .label {
        position: relative;
        left: $bit * 3;
        opacity: 0;
        transition: left 150ms ease-in-out, opacity 180ms ease-in-out;
        transition-delay: 80ms;

        &:nth-child(2) {
            transition-delay: 160ms;
        }
        &:nth-child(3) {
            transition-delay: 240ms;
        }
    }

    .works__item:hover & {
        bottom: 0;
        opacity: 1;

        .label {
            left: 0;
            opacity: 1;
        }
    }
}
