.page-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    padding: $bit * 2;
    z-index: 100;
}
.page-header__item {
    display: flex;
    align-items: center;
    padding: $bit;

    > * {
        margin: $bit;
    }
}
.header-line {
    flex-grow: 2;

    &::after {
        content: '';
        width: 100%;
        height: $bit / 4;
        margin-top: $bit / 2;
        background-color: map-get($colors, design);
        background-image: linear-gradient(to right, map-get($colors, frontend), map-get($colors, design));
    }
}
.header-frontend, .header-design {
    color: map-get($colors, frontend);
    font-size: rem-calc(24);
    letter-spacing: 1px;
    // font-family: $header-font;
}
.header-design {
    color: map-get($colors, design);
}
